// sass variables

// Theme colors
// Dark navy/black background with lime accent
$theme-green: #a4d65e; // lime accent
$theme-gray: #1f2933; // dark gray
$theme-bright-gray: #27323f;
$theme-dark-gray: #9ca3af; // light gray for icons on dark bg
$theme-athens-gray: #111827;
$theme-blue: #1e293b;
$theme-purple: #4b5563;
$theme-white: #f9fafb;
$theme-light-white: #e5e7eb;
$theme-light-blue-white: #e8f0fe;

$theme-black: #050814; // very dark navy/black
$theme-light-black: #070b1a;
$theme-orange: #e4853f;
$theme-yellow: #ffdd57;
$theme-light-yellow: #fbeeca;
$theme-pink: #ff3860;
$theme-light-blue: #4a68aa;
$theme-bright-red: #fb0000;

// Primary/secondary brand colors
$primary-color: #a4d65e; // lime green accent
$primary-bg: #a4d65e;

$secondary-color: #111827;
$secondary-bg: #111827;

$danger-color: #dc3545;
$danger-bg: #dc3545;
$danger-hover-bg: #c3081a;

$dark-bg: $theme-black;
$dark-hover-bg: #0b1020;

$default-color: #9ca3af;
$default-bg: #374151;

// standard colors
$blue: #20a8d8;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff5454;
$white: #fff;
$orange: #fabb3d;
$yellow: #ffc107 !default;
$green: #79c447;
$gray: #808081;
$teal: #20c997 !default;
$cyan: #67c2ef;
$black: #000;

$font-family: 'Poppins';
$font-family-heading: 'Poppins';
$font-family-body: 'Poppins';
$font-size-x-small: 12px;
$font-size-small: 13px;
$font-size-medium: 14px;
$font-size-large: 15px;
$font-size-x-large: 16px;
$font-size-xx-large: 18px;
$font-size-huge: 20px;
$font-size-x-huge: 24px;
$font-size-heading-xsmall: 14px;
$font-size-heading-small: 16px;
$font-size-heading-medium: 18px;
$font-size-heading-large: 20px;
$font-size-heading-x-large: 24px;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// layout variables
$btn-bg: $dark-bg;
$btn-bg-hover: $primary-bg;
$font-color: #e5e7eb; // main body text
$font-light-color: #9ca3af;
$font-custom-color: $theme-white; // default text on dark bg
$font-subtext-color: #9ca3af;
$font-custom-hover-color: $primary-bg;
$font-hover-color: $primary-bg;
$font-focus-color: $primary-bg;
$font-heading-color: $theme-white;
$border-color-default: #1f2933;
$border-color-primary: #27323f;
$border-hover-color: #4b5563;
$border-focus-color: #a4d65e;
$separator-color: #111827;
$dark-overflow-bg: #000a;
$transparent-bg: rgba(15, 23, 42, 0.5);
$transparent-gray-bg: rgba(31, 41, 55, 0.7);
$transparent-white-bg: rgba(249, 250, 251, 0.05);
$hover-bg: rgba(55, 65, 81, 0.6);
$badge: $primary-bg;
$stars: #6b7280;
$stars-active: #facc15;
$disabled-bg: rgba(55, 65, 81, 0.7);

$outline-color: #c4f38c; // light lime for outlines
$validation-color: #dc3545;
$outline-box-shadow: 0 0 0 3px rgba(164, 214, 94, 0.4);
$box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
$box-shadow-custom: 0 1px rgba(15, 23, 42, 0.8);
$box-shadow-primary: 0 1px 2px rgba(0, 0, 0, 0.8);
$box-shadow-secondary: 0 0 2px rgba(0, 0, 0, 0.8);
$border-radius-default: 3px;
$border-radius-primary: 5px;
$border-radius-circle: 50px;
$line-height: 1.5;
$letter-spacing: 0.5px;
$border-default: 1px solid $border-color-default;
$border-primary: 1px solid $border-color-primary;
$layout-max-width: 1200px;
$layout-transition-speed: 0.3s !default;
$layout-transition-higher-speed: 0.6s !default;

// icons
$twitter: url('/images/social-icons/twitter.svg');
$pinterest: url('/images/social-icons/pinterest.svg');
$instagram: url('/images/social-icons/instagram.svg');
$facebook: url('/images/social-icons/facebook.svg');

$bars: url('/images/bars.png');
$chevron-down: url('/images/chevron-down.svg');
$close: url('/images/close.svg');
$bag: url('/images/bag.svg');
